.login-container{
    border: thin solid lightgray;
    border-radius: 10px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 40px;
    width: 90%;
    height: 300%;
}
.login-input-box{
    padding-top: 20px;
}
.login-input{
    width: 80%;
    height: 47px;
    margin-top: 5px;
    border-radius: 10px;
    border: thin solid lightgrey;
    font-size: 17px;
    padding-left: 20px;
}
.login-box{
    width: 80%;
    height: 47px;
    line-height: 47px;
    margin: auto;
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    background-color: #5e88d0;
    color: white;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}
.login-info{
    margin-top: 15px;
    color: gray;
    font-size: 15px;
    line-height: 22px;
}